<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- Etiqueta global de sitio (gtag.js) de Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119438848-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-119438848-2');
</script>


<div class="bxslider"></div>
<br><br><br>
<div class="hidden-md hidden-lg hidden-xs" style="display: none;" >
    <br>
</div>
<div class="hidden-xs " style="text-align: center; margin-top: 67px !important;">
<br>

<div class="registroMain-container">
    <div class="titulo-container">
        <h2>DISEÑO CORPORATIVO</h2>
    </div>
    <form id="registro-form" action="/guardarRegistro" method="POST">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <div class="registro-container">            
            <div class="input-container">
                <h1 style="width: 560px; margin: 0px; text-align: left;font-family: 'Source Sans Pro', sans-serif;">Nombre de Curso</h1>
                <input type="text" class="form-control requerido" style="margin: 10px 0px 0px;" name="nombre_curso" maxlength="150">
                <h6 class="obligatorio" >*</h6>
            </div>
            <h2 style="text-align: left;font-family: 'Source Sans Pro', sans-serif;color: #6b6a6a;"><u>Contacto</u></h2>
            <div class="input-container">
                <h5 style="font-family: 'Source Sans Pro', sans-serif;">Empresa</h5>
                <input type="text" class="form-control requerido" name="empresa" maxlength="150">
                <h6 class="obligatorio" >*</h6>
            </div>
            <div class="input-container contenedor-personalizado">
                <div class="subInput-container-izq campo-nombre-apellido">
                    <h5 class="subInput-h5" >Nombres</h5>
                    <input type="text" class="form-control requerido" name="nombres" maxlength="150">
                    <h6 class="obligatorio" >*</h6>
                </div>
                <div class="subInput-container-der campo-nombre-apellido">
                    <h5 class="subInput-h5">Apellidos</h5>
                    <input type="text" class="form-control requerido" name="apellidos">
                    <h6 class="obligatorio" >*</h6>
                </div>
            </div>
            <div class="input-container">
                <div class="subInput-container-izq">
                    <h5 id="emails" class="subInput-h5">Email</h5>
                    <input id="email" type="email" class="form-control requerido" name="email">
                    <h6 class="obligatorio" >*</h6>
                </div>
                <div class="subInput-container-der">
                    <h5 id="celular" class="subInput-h5">Celular</h5>
                    <input type="text" name="celular" class="form-control requerido" onkeypress="return valida(event)" maxlength="10" >
                    <h6 class="obligatorio" >*</h6>
                </div>
            </div>    
            <div class="input-container">
                <h5 style="font-family: 'Source Sans Pro', sans-serif;">Cargo</h5>
                <input type="text" class="form-control" name="cargo">
                <h6 class="obligatorio" ></h6>
            </div>
            <h2 style="text-align: left;font-family: 'Source Sans Pro', sans-serif;color: #6b6a6a;"><u>Evento</u></h2>
            <div class="input-container contenedor-evento">
                <div id="tipo" style="width: 22%; padding: 0px 30px;">
                    <h5 style="width: 100%; text-align: center;font-family: 'Source Sans Pro', sans-serif;">Tipo</h5>
                    <select class="form-control"  name="tipo">
                        <option value="PROGRAMA" style="font-family: 'Source Sans Pro', sans-serif;">Programa</option>
                        <option value="CURSO" style="font-family: 'Source Sans Pro', sans-serif;">Curso</option>
                        <option value="CONFERENCIA" style="font-family: 'Source Sans Pro', sans-serif;">Conferencia</option>
                    </select>
                </div>
                <div id="fecha-esperada" style="width: 216px;">
                    <h5 style="width: 100%;text-align: center;font-family: 'Source Sans Pro', sans-serif;">Fecha Inicio esperada</h5>
                    <input type="date" class="form-control" name="fecha">
                </div>
                <div id="cuadro-participante" style="padding-left: 30px;">
                    <h5 style="width: 100%;text-align: center;font-family: 'Source Sans Pro', sans-serif;"># de participantes</h5>
                    <input type="number" id="participantes" min="15" class="form-control" name="participantes">
                </div>
                <div id="cuadro-horario" class="horariosMain-container">
                    <h5>Horarios a Elegir</h5>
                    <div class="horarios-container">
                        <div style="display: flex;">
                            <div class="horario-checkbox-container">
                                <h6>Lun</h6>
                                <input class="checkbox" type="checkbox" name="dias[]" value="LUN">
                            </div>
                            <div class="horario-checkbox-container">
                                <h6>Mar</h6>
                                <input class="checkbox" type="checkbox" name="dias[]" value="MAR">
                            </div>
                            <div class="horario-checkbox-container">
                                <h6>Mie</h6>
                                <input class="checkbox" type="checkbox" name="dias[]" value="MIE">
                            </div>
                            <div class="horario-checkbox-container">
                                <h6>Jue</h6>
                                <input class="checkbox" type="checkbox" name="dias[]" value="JUE">
                            </div>
                            <div class="horario-checkbox-container">
                                <h6>Vie</h6>
                                <input class="checkbox" type="checkbox" name="dias[]" value="VIE">
                            </div>
                            <div class="horario-checkbox-container">
                                <h6>Sab</h6>
                                <input class="checkbox" type="checkbox" name="dias[]" value="VIE">
                            </div>
                            <div class="horario-checkbox-container">
                                <h6>Dom</h6>
                                <input class="checkbox" type="checkbox" name="dias[]" value="VIE">
                            </div>
                        </div>
                        <div style="display: flex; margin-top: 10px;">
                            <div style="display: flex;">
                                <h6 style="font-style: 14px; margin-bottom: 0px;padding-top: 5%;">HORA INICIO</h6>
                                <input id="horaInicio" style="margin: 0px 15px 0px 5px;" type="time" class="form-control" name="horaInicio">
                            </div>
                            <div style="display: flex;">
                                <h6 style="font-style: 14px;  margin-bottom: 0px;padding-top: 5%;">HORA FIN</h6>
                                <input id="horaFin" style="margin: 0px 5px 0px 5px;" type="time" class="form-control" name="horaFin">
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
            
            <div id="cuadro-lugar-direccion" class="input-container " style="margin-top: 40px;">
                <div id="cuadro-donde" class="input-container">
                    <h5 style="width: 47%;font-family: 'Source Sans Pro', sans-serif;">¿Lugar donde se realizará el programa?</h5>
                    <select id="lugar" class="form-control" name="lugar">
                        <option style="font-family: 'Source Sans Pro', sans-serif;">Campus Prosperina</option>
                        <option style="font-family: 'Source Sans Pro', sans-serif;">Campus Las Peñas</option>
                        <option style="font-family: 'Source Sans Pro', sans-serif;">Instalaciones en Quito</option>
                        <option style="font-family: 'Source Sans Pro', sans-serif;">Instalaciones de la empresa</option>
                        <option style="font-family: 'Source Sans Pro', sans-serif;">Otro</option>
                    </select>
                </div>
                <div id="campo-direccion" class="input-container" style="width: 50%;">
                    <div style="display: inline-flex;width: 97%;">
                        <h5 id="direccion" class="direccion" style="width: 37%;padding-top: 5px;margin: 0%;font-family: 'Source Sans Pro', sans-serif; ">Introduzca su dirección</h5>
                        <input type="text" class="form-control" name="direccion" style="margin: 0%;height: 43px;" >
                    </div>
                </div>
            </div>
            
            <div style="margin-top: 40px;">
                <h5 style="width: 100%; text-align: left;font-family: 'Source Sans Pro', sans-serif;">¿Qué situación espera solucionar, mejorar y/o preveer en su empresa con este programa?</h5>
                <textarea class="form-control" rows="2" name="problema"></textarea>
            </div> 
            <div id="informando" style="text-align: initial;">
                <h4 style="color: #a04040;font-size: 1.5rem;display: inline-block;">
                    (<h6 class="obligatorio" style="color: #a04040;display: inline-block;position: relative;top: 19px;width: 1.5%;font-family: 'Source Sans Pro', sans-serif;">*</h6>
                </h4>  
                <h4 style="color: #a04040;font-size: 1.5rem;display: inline-block;font-family: 'Source Sans Pro', sans-serif;"> ) Campos obligatorios.</h4>
            </div>
            <button class="btn enviar-btn" id="enviar-btn" type="button">ENVIAR</button>
        </div>
    </form>
</div>

<%= stylesheet_link_tag 'registroCorporativo'%>
<%= javascript_include_tag "registroCorporativo" %> 