<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- Etiqueta global de sitio (gtag.js) de Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119438848-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-119438848-2');
</script>

<br>
<br>
<br>
<br>
<br>
<div class="background-div">
	<br>Nuestra Identidad</br></br>
</div> 
<br>
<br>
<div class="container">
	<%= stylesheet_link_tag    'honest', media: 'all', 'data-turbolinks-track' => true %>
	<%= stylesheet_link_tag    'animate', media: 'all', 'data-turbolinks-track' => true %>
	<!--<%= javascript_include_tag 'identidad' %>-->
	
	<script src="/assets/modernizr-2.6.2.min.js"></script>	

	<div id="page" class="parallax-group" >
		
		<header id="gtco-header" class="gtco-cover gtco-cover-md "  data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="gtco-container">
				<div class="row row-mt-15em">
					<div class="col-md-12 mt-text text-center animate-box" >
						<h1 class="h-class">Acerca del <strong>CEC</strong></h1>	
						<h2 class="h-class">Líderes en formaci&oacute;n, capacitaci&oacute;n y asesor&iacute;a a nivel nacional.</h2>
						<div class="text-center"><a href="https://youtu.be/XWqPpLr8RRo" class="btn btn-honest btn-lg" target="_blank">Mira el video</a>
						</div>
					</div>
				</div>
			</div><!--end gtco-container-->
		</header>

		<div class="flex-section gtco-gray-bg ">
			<div class="col-1">
				<div class="text">
					<div class="row row-pb-sm">
						<div class="col-md-11">
						<h1 class="lines mision-titulo">Nuestra Misi&oacute;n</h1>
						<p class="mision-parrafo" style="text-align: justify;">El CEC tiene la misi&oacute;n de ofrecer programas de capacitaci&oacute;n, actualizaci&oacute;n y perfeccionamiento a profesionales y organizaciones del sector productivo, p&uacute;blico y privado del Ecuador, asegur&aacute;ndoles excelencia en el proceso enseñanza – aprendizaje, investigaci&oacute;n, cultura, valores &eacute;ticos y desarrollo del esp&iacute;ritu emprendedor.</p>
						</div>
					</div><!--end row-->
				</div><!--end text-->
			</div><!--end col-1-->
			<div class="col-2 flex-img" style="background-image: url(/assets/Identidad/mision.jpg);"></div>
		</div> <!--end flex-section gtco-gray-bg-->

		<div class="gtco-cover gtco-cover-sm" style="background-image: url(/assets/Identidad/formacion.jpg)"  data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="gtco-container text-center">
				<div class="display-t">
					<div class="display-tc">
						<h1 class="learn animate-box revealOnScroll h-class" data-animation="fadeInUp">Formaci&oacute;n a lo largo de la vida</h1>
					</div>	
				</div>
			</div><!--end gtco-container text-center-->
		</div> <!--end gtco-cover-->

		<div class="overflow-hid"> 	
			<div id="fh5co-project">
					<div class="container">
						<div class="row row-pb-md">
							<div class="row">
								<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
									<h1 class="lines">Nuestros Valores</h1>
								</div>
							</div><!--end row-->
							<div class="row" style="margin: 1px">
								<div class="col-md-4 col-sm-6 fh5co-project animate-box fadeIn animated" >
									<a><img src="/assets/Identidad/NuestrosValores/excelencia.jpg" class="img-responsive">
										<div class="fh5co-copy" >
											<h3 style="margin-bottom: 10px ; text-align: center;" ><b>Acuerdo con la excelencia</b></h3>
											<p style="line-height: 1.5 ; text-align: center; margin-bottom: 50px">La excelencia acad&eacute;mica es una meta superior, permanente y cotidiana.</p>
										</div>
									</a>
								</div>
								<div class="col-md-4 col-sm-6 fh5co-project animate-box fadeIn animated" >
									<a><img src="/assets/Identidad/NuestrosValores/mistica.jpg" class="img-responsive">
										<div class="fh5co-copy">
											<h3 style="margin-bottom: 10px ; text-align: center;"><b>M&iacute;stica de trabajo</b></h3>
											<p style="line-height: 1.5 ; text-align: center; margin-bottom: 50px">Trabajar y cumplir para que la ESPOL amplíe su prestigio.</p>
										</div>
									</a>
								</div>
								<div class="col-md-4 col-sm-6 fh5co-project animate-box fadeIn animated" >
									<a><img src="/assets/Identidad/NuestrosValores/responsabilidad.jpg" class="img-responsive">
										<div class="fh5co-copy">
											<h3 style="margin-bottom: 10px ; text-align: center;"><b> Compromiso</b></h3>
											<p style="line-height: 1.5 ; text-align: center; margin-bottom: 50px">Cumplir con calidad y a tiempo todas las tareas institucionales.</p>
										</div>
									</a>
								</div>
							</div><!--end row-->
							<div class="row">
								<div class="col-md-4 col-sm-6 col-md-offset-1 fh5co-project animate-box fadeIn animated" >
									<a><img src="/assets/Identidad/NuestrosValores/honestidad.jpg" class="img-responsive">
										<div class="fh5co-copy">
											<h3 style="margin-bottom: 10px ; text-align: center;">Honestidad</h3>
											<p style="line-height: 1.5 ; text-align: center; margin-bottom: 50px"><b>Manejar los asuntos personales e institucionales con integridad y probidad.</b></p>
										</div>
									</a>
								</div>
								<div class="col-md-4 col-sm-6 col-md-offset-1 fh5co-project animate-box fadeIn animated" >
									<a><img src="/assets/Identidad/NuestrosValores/imparcialidad.jpg" class="img-responsive">
										<div class="fh5co-copy">
											<h3 style="margin-bottom: 10px ; text-align: center;">Equidad</h3>
											<p style="line-height: 1.5 ; text-align: center; margin-bottom: 50px"><b>Independencia en las decisiones institucionales.</b></p>
										</div>
									</a>
								</div>
							</div><!--end row-->
						</div>
					</div>	
				</div> <!--end fh5co-project-->

			<div id="gtco-features">
				<div class="gtco-container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center gtco-heading politics animate-box">
							<h2 class="h-class">Nuestras Pol&iacute;ticas</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-sm-6">
							<div class="feature-center animate-box" >
								<span class="icon">
									<i class="glyphicon glyphicon-check"></i>
								</span>
								<h3>Calidad</h3>
								<p style="text-align: justify;">Implantar y mantener un Sistema de Gesti&oacute;n de la Calidad adecuado a la ESPOL, que permita satisfacer las necesidades y expectativas de los clientes, bas&aacute;ndose en los requisitos de la norma ISO 9001:2008.</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="feature-center animate-box" >
								<span class="icon">
									<i class="glyphicon glyphicon-education"></i>
								</span>
								<h3>Cumplimiento</h3>
								<p style="text-align: justify;">Llevar a cabo nuestras actividades de docencia, y vinculaci&oacute;n con la sociedad, garantizando el cumplimiento de las normas legales y reglamentarias, aplicables a los productos o servicios que ofrece la ESPOL.</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="feature-center animate-box" >
								<span class="icon">
									<i class="glyphicon glyphicon-refresh"></i>
								</span>
								<h3>Mejora Continua</h3>
								<p style="text-align: justify;">Promover la mejora continua como un principio fundamental aplicable a todos los procesos de la ESPOL.</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-sm-6 col-md-offset-1">
							<div class="feature-center politicas-1 animate-box" >
								<span class="icon">
									<i class="fa fa-lightbulb-o"></i>
								</span>
								<h3>Talento</h3>
								<p style="text-align: justify;"> Generar un compromiso din&aacute;mico del talento humano de la instituci&oacute;n, que permita mantener activo el Sistema de Gesti&oacute;n de Calidad.</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-md-offset-1">
							<div class="feature-center politicas-1 animate-box" >
								<span class="icon">
									<i class="fa fa-handshake-o"></i>
								</span>
								<h3>Apoyo</h3>
								<p style="text-align: justify;"> Fundamentar el Sistema de Gesti&oacute;n de la Calidad en la prevenci&oacute;n de no conformidades como un medio que proporcione a los clientes, productos y servicios de calidad; por consiguiente, el personal de la ESPOL, tiene la responsabilidad de informar a la Direcci&oacute;n, a través de los canales establecidos, cualquier situaci&oacute;n, real o potencial, que afecte al Sistema.</p>
							</div>
						</div>
					</div><!--end row-->
				</div><!--end gtco-container-->
			</div><!--end gtco-features-->
		</div><!--end overflow-hid-->
	</div> <!--end page-->
	<%= javascript_include_tag 'identidad' %>
</div> <!--end container-->
</br>
</br>
	

	

