<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- Etiqueta global de sitio (gtag.js) de Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119438848-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-119438848-2');
</script>

<br>
<br>
<br>
<br>
<br> 
<div class="background-div">
        <BR>Nuestras Sedes<BR><BR>
  </div>
<div class="container">
 <BR><BR>
    <div class="container">
        <div class="row">
        	<div class="col-md-6">
                <address>
                  <strong>SEDE CAMPUS GUSTAVO GALINDO</strong><br>
                  Avenida Principal de la ESPOL<br>
                  Edificio del Centro de Educaci&oacute;n Continua junto al edificio de Admisiones Ing. Enrique Bayot Ar&aacute;uz<br><br>
                  <abbr title="Phone">Telf:</abbr> +593(4) 2269 763<br>
                  <abbr title="Phone">Telf:</abbr> +593(4) 2269 764<br>
                  <abbr title="Phone">Telf:</abbr> +593(4) 2269 759<br>
                </address>

                <address>
                  <strong>Email</strong><br>
                  <a href="mailto:#">capacec@espol.edu.ec</a>
                </address>
            </div>

            <div class="col-md-6" style="text-align: center;">
                <%= video_tag ("Gustavo_final_2.mp4"), size: "320x240", controls: true, controlsList: "nodownload" %>
            </div>

            <div class="col-md-6">
                </br>
                </br>
                </br>
                </br>
                <address>
                  <strong>SEDE CAMPUS PEÑAS</strong><br>
                  Malec&oacute;n 100 y Loja, Bloque A, Of.104.<br>
                  <br>
                  <abbr title="Phone">Telf:</abbr> +593(4) 2081 040<br>
                  <abbr title="Phone">Telf:</abbr> +593(4) 2081 043<br>
                  <abbr title="Phone">Telf:</abbr> +593(4) 2081 014<br>
                </address>

                <address>
                  <strong>Email</strong><br>
                  <a href="mailto:#">educon@espol.edu.ec</a><br>
                  <a href="mailto:#">educon2@espol.edu.ec</a>
                </address>   
            </div>
  </br>
            <div class="col-md-6" style="text-align: center;">
            </br>
            </br>
            </br>
                <%= video_tag ("Peñas_final_2.mp4"), size: "320x240", controls: true, controlsList: "nodownload" %>
            </div>
        </div>
        <br/>
    </div>
</div>
</br>
</br>
</br>

